/* CSS files add styling rules to your content */

body {
  background-image: url(https://cdn.glitch.com/35a460a2-130c-4613-9db5-f8d67a740d13%2Fimages.png?v=1580909340996);
  font-family: 'Righteous', cursive;
  margin: 2em;
}

h1 {
  font-style: 'Righteous', cursive;
  color: #7F7F7F;
}

.topSection {
  border: 10px ridge;
  border-color: 30184C;
  
}

.Navigation {
  display: inline-block;
}