/* CSS files add styling rules to your content */

body {
  background-image: url(https://st2.depositphotos.com/3591429/5247/i/950/depositphotos_52470251-stock-photo-silhouettes-of-business-people-discussing.jpg);
  font-family: 'Righteous', cursive;
  margin: 2em;
}

h1 {
  font-style: 'Righteous', cursive;
  color: #7F7F7F;
}

.topSection {
  border: 10px ridge;
  border-color: 30184C;
  
}

.Navigation {
  display: inline;
}

.example{
 display: inline;
  float: right;
}

 textarea{display: block;}